@model IEnumerable<MasterVM>
<br />
<table class="table table-responsive table-dark table-hover table-sm align-middle" style="width:100%">
    <thead>
        <tr>
            <th class="text-start align-middle">
                <div class="col-12">
                    <a class="nav-link text-light" id="register" asp-area="Identity" asp-page="/Account/Register">
                        <i class="bi bi-person-workspace"></i>&nbsp;Add master
                    </a>
                </div>
            </th>
            <th class="text-center align-middle">Phone</th>
            <th class="text-center align-middle">Email</th>
            <th class="text-center align-middle" style="width:8% "><i class="bi bi-gear-wide-connected"></i></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count()>0)
        {
            @foreach (var item in Model)
            {
                if (!item.Name!.Equals(RoleConst.AdminName))
                {
                    <tr>
                        <td class ="text-start align-middle">@item.Name</td>
                        <td class="text-center align-middle">@item.PhoneNumber</td>
                        <td class="text-center align-middle">@item.Email</td>                    
                        <td class="text-center align-middle">
                            <form method="post" asp-controller="Master" asp-action="Delete" asp-route-id="@item.Id">
                                <button type="submit" class="btn btn-outline-danger">
                                    <i class="bi bi-trash3"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>