@model MeasuringVM
<br />
<form method="post" class="needs-validation" novalidate>
    <input asp-for="Id" hidden />
    <div class="card" style="width:50%">
        <div class="card-header">Update measuring</div>
        <div class="card-body">
            <dl class="row">

                <dt class="col-sm-3 text-end">
                    <label asp-for="Name" class="col-form-label"></label>
                </dt>
                <dd class="col-sm-9">
                    <input asp-for="Name" class="form-control" required />
                    <div class="invalid-feedback">
                        Field must be required
                    </div>
                </dd>

                <dt class="col-sm-3 text-end">
                    <label asp-for="Code" class="col-form-label"></label>
                </dt>
                <dd class="col-sm-9">
                    <input asp-for="Code" class="form-control" required />
                    <div class="invalid-feedback">
                        Field must be required
                    </div>
                </dd>

            </dl>
        </div>
        <div class="card-footer text-end">
            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                <button type="submit" method="post" asp-controller="Measuring" asp-action="Update" class="btn btn-outline-success">
                    <i class="bi bi-check-lg"></i>
                </button>
                <a asp-controller="Measuring" asp-action="Index" class="btn btn-outline-danger">
                    <i class="bi bi-box-arrow-left"></i>
                </a>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}