@model OwnerVM

@{
    var master = Model.Master;
}

<br />
<form method="post" class="needs-validation" novalidate>
    <input asp-for="Id" hidden />
    <div class="card" style="width:60%">
        <div class="card-header bg-dark text-light">Owner</div>
        <div class="card-body">
            <dl class="row">

                @if (Model.ShortName is not null)
                {
                    <dt class="col-sm-3 text-end">
                        <label asp-for="ShortName" class="col-form-label"></label>
                    </dt>
                    <dd class="col-sm-9">
                        <input asp-for="ShortName" class="form-control" />
                    </dd>
                }

                @if (Model.FullShop is not null)
                {
                    <dt class="col-sm-3 text-end">
                        <label asp-for="FullShop" class="col-form-label"></label>
                    </dt>
                    <dd class="col-sm-9">
                        <input asp-for="FullShop" class="form-control" />
                    </dd>
                }

                @if (Model.FullProduction is not null)
                {
                    <dt class="col-sm-3 text-end">
                        <label asp-for="FullProduction" class="col-form-label"></label>
                    </dt>
                    <dd class="col-sm-9">
                        <input asp-for="FullProduction" class="form-control" />
                    </dd>
                }

                @if (Model.ShortName is not null)
                {
                    <dt class="col-sm-3 text-end">
                        <label asp-for="Phone" class="col-form-label"></label>
                    </dt>
                    <dd class="col-sm-9">
                        <input asp-for="Phone" class="form-control" />
                    </dd>
                }

                @if (Model.MasterId is not null)
                {
                    if (master!.Name is not null)
                    {
                        <dt class="col-sm-3 text-end">
                            <label asp-for="Master!.Name" class="col-form-label"></label>
                        </dt>
                        <dd class="col-sm-9">
                            <input asp-for="Master!.Name" class="form-control" />
                        </dd>
                    }

                    if (master!.Phone is not null)
                    {
                        <dt class="col-sm-3 text-end">
                            <label asp-for="Master!.Phone" class="col-form-label"></label>
                        </dt>
                        <dd class="col-sm-9">
                            <input asp-for="Master!.Phone" class="form-control" />
                        </dd>
                    }

                    if (master!.Email is not null)
                    {
                        <dt class="col-sm-3 text-end">
                            <label asp-for="Master!.Email" class="col-form-label"></label>
                        </dt>
                        <dd class="col-sm-9">
                            <input asp-for="Master!.Email" class="form-control" />
                        </dd>
                    }
                }

            </dl>
        </div>
        <div class="card-footer bg-dark text-end">
            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                <a asp-controller="Owner" asp-action="Update" asp-route-id="@Model.Id" class="btn btn-outline-warning">
                    <i class="bi bi-pencil-fill"></i>
                </a>
                <a asp-controller="Owner" asp-action="Index" class="btn btn-outline-danger">
                    <i class="bi bi-box-arrow-left"></i>
                </a>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}