@model OwnerVM
<br />
<form method="post" class="needs-validation" novalidate>
    <input asp-for="Id" hidden/>
    <div class="card" style="width:75%">
        <div class="card-header">Owner</div>
        <div class="card-body">
            <dl class="row mb-3 border-dark">

                <dt class="col-sm-3 text-end">
                    <label asp-for="FullShop" class="col-form-label"></label>
                </dt>
                <dd class="col-sm-9">
                    <input asp-for="FullShop" class="form-control" />
                </dd>

                <dt class="col-sm-3 text-end">
                    <label asp-for="ShortShop" class="col-form-label"></label>
                </dt>
                <dd class="col-sm-9">
                    <input asp-for="ShortShop" class="form-control" required />
                    <div class="invalid-feedback">
                        Field must be required
                    </div>
                </dd>

                <dt class="col-sm-3 text-end">
                    <label asp-for="FullProduction" class="col-form-label"></label>
                </dt>
                <dd class="col-sm-9">
                    <input asp-for="FullProduction" class="form-control" />
                </dd>

                <dt class="col-sm-3 text-end">
                    <label asp-for="ShortProduction" class="col-form-label"></label>
                </dt>
                <dd class="col-sm-9">
                    <input asp-for="ShortProduction" class="form-control" />
                </dd>

                <dt class="col-sm-3 text-end">
                    <label asp-for="ShopCode" class="col-form-label"></label>
                </dt>
                <dd class="col-sm-9">
                    <input asp-for="ShopCode" class="form-control" />
                </dd>

                <dt class="col-sm-3 text-end">
                    <label asp-for="Master" class="col-form-label"></label>
                </dt>
                <dd class="col-sm-9">
                    <input asp-for="Master" class="form-control" />
                </dd>

                <dt class="col-sm-3 text-end">
                    <label asp-for="Phone" class="col-form-label"></label>
                </dt>
                <dd class="col-sm-9">
                    <input asp-for="Phone" class="form-control" />
                </dd>

                @*<dt class="col-sm-3 text-end">
                    <label asp-for="Email" class="col-form-label"></label>
                </dt>
                <dd class="col-sm-9">
                    <input asp-for="Email" class="form-control" type="email" />
                    <div class="invalid-feedback">
                        example@post.com
                    </div>
                </dd>*@
            </dl>
        </div>
        <div class="card-footer text-end">
            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                <button type="submit" method="post" asp-controller="Owner" asp-action="Update" class="btn btn-outline-success">
                    <i class="bi bi-check-lg"></i>
                </button>
                <a asp-controller="Owner" asp-action="Index" class="btn btn-outline-danger">
                    <i class="bi bi-box-arrow-left"></i>
                </a>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}