<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Control.WEB</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/startbootstrap-sb-admin/css/styles.css" />    
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Control.WEB.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

</head>
<body>
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <a asp-controller="Home" asp-action="Index" class="navbar-brand ps-3">Metrolog_Auf</a>
        <button class="btn" id="sidebarToggle" href="#!"><i class="bi bi-three-dots-vertical"></i></button>
        <partial name="_LoginPartial" />
    </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav"> 
                            <div class="sb-sidenav-menu-heading text-light">Menu</div>
                            <div class="sb-sidenav-menu-heading">Main</div>                            

                            @{
                                if (User.IsInRole(RoleConst.Admin))
                                {
                                    <div class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="bi bi-person-workspace"></i>&nbsp;Main
                                        </a>
                                        <ul class="dropdown-menu">
                                            <a asp-controller="Position" asp-action="Index" class="nav-link text-dark">Position</a>
                                        </ul>
                                    </div>
                                    <div class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="bi bi-gear"></i>&nbsp;Manager
                                        </a>
                                        <ul class="dropdown-menu">
                                            <a asp-controller="Master" asp-action="Index" class="nav-link text-dark"><i class="bi bi-person-gear"></i>&nbsp;Master</a>
                                            <a asp-controller="Measuring" asp-action="Index" class="nav-link text-dark">Measuring</a>
                                            <a asp-controller="Nomination" asp-action="Index" class="nav-link text-dark">Nomination</a>
                                            <a asp-controller="Period" asp-action="Index" class="nav-link text-dark">Period</a>
                                            <a asp-controller="Owner" asp-action="Index" class="nav-link text-dark">Owner</a>
                                            <a asp-controller="Operation" asp-action="Index" class="nav-link text-dark">Operation</a>
                                            <a asp-controller="Category" asp-action="Index" class="nav-link text-dark">Category</a>
                                        </ul>
                                    </div>                                
                                }

                                else if (User.IsInRole(RoleConst.Master))
                                {
                                    <div class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="bi bi-person-workspace"></i>&nbsp;Main
                                        </a>
                                        <ul class="dropdown-menu">
                                        <a asp-controller="Position" asp-action="Index" class="nav-link text-dark">Position</a>
                                    </ul>
                                    </div>
                                }
                            }
                        </div>
                    </div>                    
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <div class="container">
                    <main role="main" class="pb-3">
                        <partial name="_ToastrNotification" />
                        @RenderBody()
                    </main>
                </div>
                <footer class="py-4 bg-dark mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">   </div>
                    </div>
                </footer>
            </div>
        </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/startbootstrap-sb-admin/js/scripts.js"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="https://cdn.tiny.cloud/1/74l29a6bj7d1jvbrcgjmy5cdr2cf4qe4geqp4s8h1jlal81g/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>