@model IEnumerable<CategoryVM>
<br />
<table class="table table-responsive table-dark table-hover align-middle" style="width:100%">
    <thead>
        <tr>
            <th class="text-start align-middle">
                <div class="col-12 ">
                    <a asp-controller="Category" asp-action="Create" class="btn btn-dark">
                        <i class="bi bi-plus-lg"></i>&nbsp;Category
                    </a>
                </div>
            </th>
            <th class="text-center align-middle" style="width:8% "><i class="bi bi-gear-wide-connected"></i></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count()>0)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-start align-middle">@item.Name</td>
                    <td class="text-center align-middle">
                        <div class="btn-toolbar justify-content-between" role="toolbar">
                            <a asp-controller="Category" asp-action="Update" asp-route-id="@item.Id" class="btn btn-outline-warning">
                                <i class="bi bi-pencil-fill"></i>
                            </a>
                            <form method="post" asp-controller="Category" asp-action="Delete" asp-route-id="@item.Id">
                                <button type="submit" class="btn btn-outline-danger">
                                    <i class="bi bi-trash3"></i>
                                </button>
                            </form>
                        </div>
                    </td>
                </tr>
            }
        }

        else
        {
            <tr>
                <td colspan="2">Category list is empty</td>
            </tr>
        }
    </tbody>
</table>